.init {
	background: #F5F5F5;
	font-weight: bold;
	color: #000000;
}
.wrong {
	background: #F5F5F5;
	font-weight: bold;
	color: #000000;
	border: 1px #FF0000 solid;
}
.right {
	background: #F5F5F5;
	font-weight: bold;
	color: #000000;
	border: 1px #00FF00 solid;
}
.title {
	font-weight: bold;
	font-size: 30px;
}